.App {
  flex: right;
  text-align: center;
  width: 70%;
 
}
h1{
  background-color: yellow;
  color: red;
}

.FavoriteList {
  flex: right;
 
  width: 30%;
  background-image: url("./superbackground.jpg");

}

.both{
  display: flex;
  flex: space-between;
}