.App {
  flex: right;
  text-align: center;
  width: 70%;
  background-color: aqua;
}

h1{
  background-color: yellow;
  color: red;
}

.FavoriteList {
  flex: right;
  background-color: blue;
  width: 30%;

}

.both{
  display: flex;
  flex: space-between;
}